<div id = "aboutPage"> 
    <div class = "header">
        <h1><i class = "fa fa-user-circle"></i> About Me</h1>
    </div>
   
    <div class = "row">
        <div class = "col-md-4">
            <img src = "resources/images/me.jpg" class = "img-responsive img-circle center-block">
        </div>
    
        <div clas = "col-md-8">
            <p></p>
            <p>Hello, my name is <b>Ji Woo Kim</b>, a junior at <b>Vanderbilt University</b> studying <b>computer science</b>.</p>
        </div>
    </div>
</div>